html, body {
  margin: 0;
  padding-left: 2px;
}

#map {
  height: 500px;
  display: inline-block;
  width: 65%;
  clear: right;
}

#directions{
  display: block;
  width: 35%;
  float: right;
}

.js-weather-results{
  display: block;
}

